mixin storeForm(store = {})
  form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    label(for="name") Название
    input(type="text" name="name" value=store.name)
    label(for="description") Описание
    textarea(name="description")= store.description
    label(for="photo") Изображение
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if store.photo
        img(src=`/uploads/${store.photo}`, alt=store.name width=200)
    input(type="submit" value="Сохранить →" class="button")
